@media screen and (max-width: 760px){
    header{
        flex-direction: column;
    }

    .circle{
        clip-path: circle(800px at right 1400px);
    }

    main{
        flex-direction: column;
    }

    h1{
        text-align: center;
    }

    h2{
        font-size: 38px;
    }

    img{
        display: none;
    }

    ul{
        text-align:center;
        flex-direction: row;
    }

    a{
        display: none;
    }
}